.navbar{
    background-color:aliceblue;
    margin: 1rem;
    border-radius: 1em;
    margin-top: 0.2rem;

}
.searchbar{
    border:1px solid white;
    border-right: none;
    border-radius: 2rem 0px 0px 2rem;
    margin: 0px;
    outline: none;
    cursor: pointer;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.9rem;
}
.icon1{
    border:1px solid white;
    border-left:none ;
    border-radius: 0px 2rem 2rem 0px;
    background-color: white ;
    margin: 0px !important;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 0.5rem;
}
#searchbar:focus{
    border-color: white !important;

}
.others{
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
}
.others:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}